<br>
<table width="100%" cellpadding="2" cellspacing="0">
  <tr>
    <td><img src="images/icons/foldericons/newfolder.gif" alt="New posts"> New
      posts</td>
    <td><img src="images/icons/foldericons/newhotfolder.gif" alt="New posts [popular]">
      New posts [popular]</td>
    <td><img src="images/icons/foldericons/lockfolder.gif" alt="Closed topic">
      Closed topic</td>
  </tr>
  <tr>
    <td><img src="images/icons/foldericons/folder.gif" alt="No new posts"> No
      new posts</td>
    <td><img src="images/icons/foldericons/hotfolder.gif" alt="No new posts [popular]">
      No new posts [popular]</td>
    <td>&nbsp;</td>
  </tr>
</table>