<tr>
  <td bgcolor="$bg1" width="125" valign="top">
    <table width="100%" cellpadding="1" cellspacing="0">
          <tr><td align="center">$username $member</td></tr>
          <tr><td align="center" class="small">$usertype</td></tr>
          <tr><td align="center">$avatar</td></tr>
          <tr><td align="center">$rang</td></tr>
          <tr><td align="center" class="small">$posts Posts</td></tr>
          <tr><td align="center" class="small">Registriert: $registered</td></tr>
        </table>  </td>
  <td valign="top" bgcolor="$bg2"><table width="100%" cellpadding="1" cellspacing="0">
          <tr><td valign="top"><img src="images/icons/posticon.gif" width="10" height="11"> <i>$date, $time</i> $profile $pm $buddy $email $hp $statuspic</td>
        <td align="right">$quote $actions&nbsp;</td>
      </tr>
		  <tr>
		  	<td colspan="2"><hr width="200" noshade color="$border" align="left" size="1"><br></td>
		  </tr>
		  <tr>
            <td colspan="2" valign="top">$message<br><br><span class="small">$signatur</span></td>
            </tr>
    </table>  </td>
</tr>