<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
          &#8226; <a href="index.php?site=forum"><font color="#E08D12" size="1"><b>Forum</b></font></a>
          &#8226; <a href="index.php?site=forum&board=$dt[boardID]"><font color="#E08D12" size="1"><b>$boardname</b></font></a>
          &#8226; <a href="index.php?site=forum_topic&topic=$topic"><font color="#E08D12" size="1"><b>$topicname</b></font></a>
         </td>
  </tr>
</table>
<hr noshade color="$border" size="1">