	 <form method="post" name="login" action="checklogin.php">
      <label for="log"><b>Username: </b></label>
      <input class="field" type="text" name="ws_user" id="log" value="Theseus" size="23" />
      <label for="pwd"><b>Password:</b></label>
      <input class="field" type="password" name="pwd" id="pwd" size="23" value="123" />
      <input type="hidden" name="referer" value="$referer">
      <input type="submit" name="submit" value="" class="button_login" />
    </form>
    <div class="center">Not a member? <a href="?site=register">Register</a> | <a href="?site=lostpw">Lost your password?</a></div>