	<tr>
		<td width="35" valign="bottom" background="images/news_/tile-left.gif">&nbsp;</td>
	  	<td valign="top">$multiple $date</td>
      	<td valign="top">$headline</td>
      	<td valign="top">$comms</td>
      	<td valign="top">$poster</td>
      	<td width="35" valign="bottom" background="images/news_/tile-right.gif">&nbsp;</td>
  	</tr>
	<tr>
		<td width="35" valign="bottom" background="images/news_/tile-left.gif">&nbsp;</td>
	  	<td valign="top">&nbsp;</td>
      	<td valign="top">&nbsp;</td>
      	<td valign="top">&nbsp;</td>
      	<td valign="top">&nbsp;</td>
      	<td width="35" valign="bottom" background="images/news_/tile-right.gif">&nbsp;</td>
  	</tr>