<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="6" valign="top" align="right">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top" width="35"><img src="images/news_/header-left.gif" border="0" height="31" width="35"></td>
		<td width="100" align="left" background="images/news_/tile-header.gif">Datum:</td>
		<td align="left" background="images/news_/tile-header.gif">&Uuml;berschrift:</td>
		<td width="50" align="left" background="images/news_/tile-header.gif">Kom:</td>
		<td width="50" background="images/news_/tile-header.gif">Autor:</td>
		<td valign="top" width="35"><img src="images/news_/header-right.gif" border="0" height="31" width="35"></td>
	</tr>
	<tr>
		<td background="tile-left.gif" valign="top" width="35"><img src="images/news_/upper-left.gif" border="0" height="19" width="35"></td>
		<td valign="top">&nbsp;</td>
		<td valign="top">&nbsp;</td>
		<td valign="top">&nbsp;</td>
		<td valign="top">&nbsp;</td>
		<td background="images/news_/tile-right.gif" valign="top" width="35"><img src="images/news_/upper-right.gif" border="0" height="19" width="35"></td>
	</tr>
	<tr>
		<td background="images/news_/tile-left.gif" valign="top" width="35" height="13"><img src="images/news_/tile-left1.gif" border="0" height="13" width="35"></td>
		<td colspan="4" valign="top">&nbsp;</td>
		<td background="images/news_/tile-right.gif" valign="top" width="35"><img src="images/news_/tile-right.gif" border="0" height="13" width="35"></td>
	</tr>